{% extends 'layout/base.html' %}

{% block title %}
    Modificar
{% endblock %}

{% block panel_title %}
    Modificar
{% endblock %}
{% block panel_title_right %}
{% endblock %}
{% block layout %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <a class="ui blue ribbon label" href="{% url 'jobtypes-index' %}">
                    Atrás
                </a>
                {% include 'partials/_partial_form_horizontal.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block submit %}
    Guardar
{% endblock %}
{% block code_js %}

{% endblock %}