{% extends 'layout/layout.html' %}

{% block panel_left %}
    <h1>Bienvenido</h1>
{% endblock %}

{% block panel_body %}
    <p>Bienvenido <b>{{ usuario.username|upper }}</b>,su ultimo ingreso fue{{ usuario.last_login }}.</p>
    <p> Eres miembro desde el {{ usuario.date_joined}}</p>
    <div class="col-xs-12">
        <h4>Mis datos</h4>
        <ul>
            <li>
                {{ profile.ci }}
            </li>
            <li>
                {{ profile.first_name }} {{ profile.last_name }}
            </li>
        </ul>
    </div>
{% endblock %}