{% extends 'layout/layout.html' %}

{% block title %}
    Geolocalización
{% endblock %}


{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'mdb-bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mdb-bootstrap/css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'mdb-bootstrap/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}"/>
{% endblock %}



{% block js %}
    {% load staticfiles %}
    <script src="{% static 'mdb-bootstrap/js/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'mdb-bootstrap/js/tether.min.js' %}"></script>
    <script src="{% static 'mdb-bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mdb-bootstrap/js/mdb.min.js' %}"></script>
{% endblock %}

{% block header %}
    <!--Navbar-->
    <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
            <i class="fa fa-bars"></i>
        </button>

        <div class="container">

            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx">
                <!--Navbar Brand-->
                <a class="navbar-brand" href="/">SGPS</a>
                <!--Links-->
                <ul class="nav navbar-nav">


                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'profiles-index' %}">Usuarios</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'gmap-index' %}">Mapa</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login_out' %}">salir</a></li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Conócenos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'imput_system' %}">Ingresar</a>
                        </li>
                    {% endif %}
                </ul>
                <!--Search form-->
                <form class="form-inline">
                    <input class="form-control" type="text" placeholder="Search">
                </form>
            </div>
            <!--/.Collapse content-->
        </div>
    </nav>
    <!--/.Navbar-->
{% endblock %}
{% block content_main %}
    {% block layout %}

    {% endblock %}
{% endblock %}

{% block footer %}
    {% load staticfiles %}
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="title">ABOUT</h5>

                    <p>

                        <a href="#">www.seguridad cuidadan.org</a> <br/>
                        Av. Circunvalacion <br/>
                        La Paz<br/>
                        Bolivia<br/>
                        <a href="#">www.seguridad.com</a>
                        <br/>
                        Tel: xxxx xxxx xxxxxx<br/>

                    </p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-2 col-md-offset-1">
                    <h5 class="title">First column</h5>
                    <ul>
                        <li><a href="#!">www.seguridad cuidadan.org</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-2">
                    <h5 class="title">Second column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-md-2">
                    <h5 class="title">Third column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>


        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2016 Copyright: <a href="#">www.seguridad cuidadan.org</a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
{% endblock %}
